
<div class="login-page">
    <div class="form">
        <div *ngIf="edited">
            <input type="text" placeholder="name"/>
            <input type="password" placeholder="password"/>
            <input type="text" placeholder="email address"/>
            <button>create</button>
            <p class="message">Already registered? <a href="#" (click)="toggleDiv()">Sign In</a></p>
        </div>
        <div *ngIf="!edited">
            <p class="message">{{errorMsg}}</p>
            <input type="text" [(ngModel)]="user.email" placeholder="username"/>
            <input type="password" [(ngModel)]="user.password" placeholder="password" (keydown.Enter)="handleKeyEvent( $event, 'Enter' )"/>
            <button (click)="login()">login</button>
            <p class="message">Not registered? <a href="#" (click)="toggleDiv()">Create an account</a></p>
        </div>
    </div>
</div>